<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>
    <form action="{% url 'add' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="add">
    </form>
    <ul>
        {% for task in tasks %}
            <li>
                {% if task.finished %}
                    <form action="{% url 'update' task.id %}" method="POST" class="checkbox-form">
                        {% csrf_token %}
                        <input type="checkbox" checked name="finished">
                    </form>
                {% else %}
                    <form action="{% url 'update' task.id %}" method="POST" class="checkbox-form">
                        {% csrf_token %}
                        <input type="checkbox" name="finished">
                    </form>
                {% endif %}
                {{ task.description }}
                <a href="{% url 'delete' task.id %}">delete</a>
            </li>
        {% endfor %}
    </ul>

    <script>
        const checkboxInputs = document.querySelectorAll('input[type="checkbox"]')
        checkboxInputs.forEach(input => {
            input.addEventListener('click', (e) => {
                const form = e.target.parentElement
                form.submit()
            })
        })
    </script>
</body>
</html>